<a class="carousel-item" href="#<%= carousel_link %>!">
  <img src=<%= if crop['image']
    crop.image
  else
    crop.default_image
  end %>>
  <h5><p class="center black-text" ><%= crop.name %></p></h5>
</a>
