
<div class="available-crops">
  <a class="carousel-item" href="#<%= carousel_link %>!">
    <img src=<%= if crop['image']
      crop.image
    else
      crop.default_image
    end %>>
    <p><%= crop.name %></p>
  </a>
</div>

