


<button data-target="#bannerModal" class="btn">Change Banner Photo</button>
  <div id="#bannerModal" class="modal">
    <div class="modal-content">
    <%= form_for :farm, url: farm_update_banner_path(farm) do |f| %>
      <h4>Banner Image:</h4>
      <%= f.file_field :banner_image, class: 'form-control' %>
    </div>
    <div class="modal-footer">
      <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
    </div>
    <% end %>
  </div>