
<a href="#modal2"><img alt="" class="edit-inline" src=<%=@farm.profile_image%> class="circle"></a>

<div id="modal2" class="modal">
  <div class="modal-content">
    <h4>Edit Profile Image</h4>
    <p>
      <%= form_for :farm, url: farm_update_avatar_path(farm) do |f| %>
      <div>
        <%= f.file_field :profile_image, class: 'form-control' %>
      </div>
    </p>
  </div>
  <div class="modal-footer">
    <a class=" modal-action modal-close waves-effect waves-green btn-flat">
      <div>
        <%= f.submit "Upload new picture" %>
        <% end %>
      </div>
    </a>
  </div>
</div>
