<h1>ARE YOU HERE TO GET PLOWED?</h1>

<h1> WE ARE THE CROP COPS </h1>
<h2>PUT YOUR HANDS ABOVE YOUR HEAD AND GET DOWN ON THE GROUND</h2>



<% if current_user %>
<h1>OMG HEYY, <%= current_user.first_name %> <%= current_user.last_name %>! Missed ya :)</h1>
<h1><a href="/logout">Logout</a></h1>
<% if current_user.is_farmer == true %>
<button>Click here to edit your farm prof and lollicrops</button>
<% end %>
<% else %>
<h1><a href="/login">Login here</a></h1>
<br />
<% end %>


<div class="container">
  <div class="row">
    <div>
      <button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
        Register
      </button>
    </div>
  </div>
  <br />
  <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        </div>

        <div class="modal-body">
          <div class="field">
            <br />
            <br />
            <a href="/member_registration">
              <button type="button" class="btn btn-primary btn-lg">
                Register as a Member
              </button>
            </a>
            <br />
            <br />
            <br />
            <br />
            <a href="/farmer_registration">
              <button type="button" class="btn btn-primary btn-lg">
                Register as a Farmer
              </button>
              <br />
            </a>
            <br />
            <br />
            <br />

          </div>

        </div>
      </div>
    </div>
  </div>
</div>
