<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <div class="row">

    <div class="card hovercard">
      <div class="cardheader">

      </div>
      <div class="avatar">
        <img alt="" src="http://cdn.modernfarmer.com/wp-content/uploads/2015/07/Farmer-Lee-Jones_Infront-of-tractor_08222014.jpg">
      </div>
      <div class="info">
        <div class="title">
          Saunder's Farm
          <br>
          <span> Bob and Susan Smith </span>
        </div>
        <div class="names">
        </div>
        <div class="badge">
          <img src="http://www.omafra.gov.on.ca/english/crops/organic/certificationf10.jpg">
        </div>
      </div>
    </div>

    <div class="crops">
      Crops we're harvesting NOW:
      <div id="carousel-example-generic" class="carousel_slide" data-ride="carousel">
        <br>
        <img src="https://www.starkbros.com/images/dynamic/2848-960x960.jpg">
        <img src="http://www.theartofdoingstuff.com/wp-content/uploads/2013/03/Banana.jpg">
        <img src="https://www.starkbros.com/images/dynamic/2848-960x960.jpg">
        <img src="http://www.theartofdoingstuff.com/wp-content/uploads/2013/03/Banana.jpg">
        <img src="https://www.starkbros.com/images/dynamic/2848-960x960.jpg">
        <img src="https://www.starkbros.com/images/dynamic/2848-960x960.jpg">
        <img src="http://www.theartofdoingstuff.com/wp-content/uploads/2013/03/Banana.jpg">
        <img src="https://www.starkbros.com/images/dynamic/2848-960x960.jpg">
        <img src="http://www.theartofdoingstuff.com/wp-content/uploads/2013/03/Banana.jpg">
        <img src="https://www.starkbros.com/images/dynamic/2848-960x960.jpg">

      </div>
    </div>
    <br>
    <div class="all crops">
      Want to know all the different crops we harvest throughout the year?
      <br>
      Head over to my <%= link_to 'Field', '/' %>!
    </div>
    <br>

    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <div class="panel panel-success">
          <!-- <div class="panel-heading">Stuff About Us</div> -->
          <div class="panel-body">
            <h3>About Us</h3>
            There's a lot to say about Ashton Duncan, but if there's anything you should know it's that he's athletic and confident. Of course he's also romantic, incorruptible and open, but they're less prominent and often intertwined with being insulting as well. His athleticism though, this is what he's often adored for. Friends frequently count on this and his enthusiasm especially when they need comforting or support.
            <br>
            <br>
            Nobody's perfect of course and Ashton has plenty of character faults too. His amoral nature and superficial nature aren't exactly fun to deal with and just affect all around negatively.
            Fortunately his confidence shines brighter on most days.
          </div>
        </div>
      </div>
      <div class="col-sm-5 ">
        <div class="panel panel-success">
          <div class="panel-heading">Where we're at on the map</div>
          <div class="panel-body">
            <img src="https://s-media-cache-ak0.pinimg.com/736x/f9/20/95/f9209506ce348e2d19cb9939d673880e.jpg">
          </div>
        </div>
      </div>
    </div>

   <!--  <div class="location">
      Where to find us:
    </div> -->
  </div>
</div>
