<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <div class="row">

    <div class="card hovercard">
      <div class="cardheader">

      </div>
      <div class="avatar">
        <img alt="" src="https://img.clipartfest.com/880ed33277b4c2b2367eca717abf8c72_farm-girl-vector-free-woman-farmer-clipart_1095-1300.jpeg">
      </div>
      <div class="info">
        <div class="title">
          Saunder's Farm
        </div>
        <div class="names">
          Bob and Susan
        </div>
      </div>
    </div>

    <div class="crops">
      Crops we're harvesting at the moment:
      <div id="carousel-example-generic" class="carousel_slide" data-ride="carousel">
        <br>
        <img src="https://img.clipartfest.com/05858af97b86c827ac669e6b8a2192b8_red-apple-sponsor-22-banner-apple_400-456.jpeg">
        <img src="http://www.theartofdoingstuff.com/wp-content/uploads/2013/03/Banana.jpg">
        <img src="https://img.clipartfest.com/05858af97b86c827ac669e6b8a2192b8_red-apple-sponsor-22-banner-apple_400-456.jpeg">
        <img src="http://www.theartofdoingstuff.com/wp-content/uploads/2013/03/Banana.jpg">
        <img src="https://img.clipartfest.com/05858af97b86c827ac669e6b8a2192b8_red-apple-sponsor-22-banner-apple_400-456.jpeg">

      </div>
    </div>
    <br>
    <div class="all crops">
      View the full <%= link_to 'list', '/' %> of what we harvest throughout the year.
    </div>
    <br>

    <div class="row">
      <div class="col-sm-5 col-sm-offset-1">
        <div class="panel panel-success">
          <div class="panel-heading">Stuff About Us</div>
          <div class="panel-body">
            There's a lot to say about Ashton Duncan, but if there's anything you should know it's that he's athletic and confident. Of course he's also romantic, incorruptible and open, but they're less prominent and often intertwined with being insulting as well. His athleticism though, this is what he's often adored for. Friends frequently count on this and his enthusiasm especially when they need comforting or support.
            <br>
            <br>
            Nobody's perfect of course and Ashton has plenty of character faults too. His amoral nature and superficial nature aren't exactly fun to deal with and just affect all around negatively.
            Fortunately his confidence shines brighter on most days.
          </div>
        </div>
      </div>
      <div class="col-sm-5 col-sm-offset-6">
        <div class="panel panel-success">
          <div class="panel-heading">Stuff About Us</div>
          <div class="panel-body">
            There's a lot to say about Ashton Duncan, but if there's anything you should know it's that he's athletic and confident. Of course he's also romantic, incorruptible and open, but they're less prominent and often intertwined with being insulting as well. His athleticism though, this is what he's often adored for. Friends frequently count on this and his enthusiasm especially when they need comforting or support.
            <br>
            <br>
            Nobody's perfect of course and Ashton has plenty of character faults too. His amoral nature and superficial nature aren't exactly fun to deal with and just affect all around negatively.
            Fortunately his confidence shines brighter on most days.
          </div>
        </div>
      </div>
    </div>

    <div class="location">
      Where to find us:
    </div>
  </div>
</div>
