<div class="registration">
  <div class="row">
    <form class="col m10 offset-m1 white">
    <div class="col m5">
      <h3>Member Registration</h3>
      <h4>Get down and dirty with us!</h4>
    </div>
      <div class="row">
        <div class="input-field col m7">
          <input id="first_name" type="text" class="validate">
          <label for="first_name">First Name</label>
        </div>
        <div class="input-field col m7">
          <input id="last_name" type="text" class="validate">
          <label for="last_name">Last Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m12">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m6">
          <input id="password" type="password" class="validate">
          <label for="password">Password</label>
        </div>
        <div class="input-field col m6">
          <input id="password" type="password" class="validate">
          <label for="password">Confirm Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col m3 offset-m9">
          <button class="btn waves-effect waves-light grey lighten-1" type="submit" name="action">Submit
            <i class="material-icons left">send</i>
          </button>
        </div>
      </div>
    </form>
  </div>
</div>

