<section class="boxes-index">

  <header class="page-header">
    <h1>Boxes</h1>
  </header>

  <div class="boxes">
    <% @boxes.map do |box| %>
    <%= render 'box', box: box, id: box.id %>
    <% end %>
  </div>

</section>
