._55t1{color:#4b4f56}._55t2{color:#1d2129}
.sp_oURQYtOTD0k{background-image:url(/rsrc.php/v3/yx/r/vUJwFZdKSvn.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}.sp_oURQYtOTD0k.sx_c626dc{background-position:0 0}.sp_oURQYtOTD0k.sx_38aba4{background-position:0 -17px}

#bootloader_sBbYW{height:42px;}.bootloader_sBbYW{display:block!important;}