._287i{display:inline-block;font-size:12px;line-height:22px;vertical-align:middle}
._20nn{left:-1px;top:0}._1g8y{left:0;top:0}._20no{left:-3px;top:0}
.sp_gTlIMMtbro4{background-image:url(/rsrc.php/v3/yd/r/EBnBTO_n44h.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:14px;width:14px}.sp_gTlIMMtbro4.sx_035332{width:12px;background-position:0 -15px}.sp_gTlIMMtbro4.sx_de50d2{background-position:0 0}

#bootloader_qCvxP{height:42px;}.bootloader_qCvxP{display:block!important;}