#fbTimelinePermalinkHeadline{padding-top:47px}.timelinePermalink #contentArea{padding-top:50px}.timelinePermalinkSection .fbTimelineOneColumn{top:30px;margin-top:-30px}
._2hb5{display:inline-block}
._5qla{margin-top:3px;vertical-align:top}

#bootloader_CUzaV{height:42px;}.bootloader_CUzaV{display:block!important;}