<div class="available-crops">
  <ul class="collection">
    <li class="collection-item avatar">
      <img src=<%= if crop['image']
        crop.image
      else
        crop.default_image
      end %>
      alt="" class="circle">
      <span class="title"><b><%= crop.name %></b></span>
      <p><%= crop.description %><br>
      </p>
    </li>
  </ul>
</div>