<p>
  <strong>Name:</strong>
  <%= @crop.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @crop.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @crop.image.thumb.url %>
</p>


<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">

<div class="container">
  <div class="row">

    <div class="card hovercard">
      <div class="cardheader">

      </div>
      <div class="avatar">
        <img alt="" src="http://cdn.modernfarmer.com/wp-content/uploads/2015/07/Farmer-Lee-Jones_Infront-of-tractor_08222014.jpg">
      </div>
      <div class="info">
        <div class="title">
          Saunder's Farm
          <br>
          <span> Bob and Susan Smith </span>
        </div>

      </div>
    </div>

    <div class="row">
      <div class="col-sm-8 col-sm-offset-1">
        <div class="panel panel-success">
          <div class="panel-body">
            <h3>Available Right This Instant</h3>
              HI
          </div>
        </div>
      </div>

      <div class="col-sm-8 col-sm-offset-1 ">
        <div class="panel panel-success">
          <div class="panel-heading">Keep an eye out, we're coming soon!</div>
          <div class="panel-body">
            BYE
          </div>
        </div>
      </div>

      <div class="col-sm-8 col-sm-offset-1">
        <div class="panel panel-success">
          <div class="panel-body">
            <h3>You slowpoke! You missed us this year. Better luck next.</h3>
              BACK
          </div>
        </div>
      </div>

    </div>
  </div>
</div>




