<p>
  <strong>Name:</strong>
  <%= @crop.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @crop.description %>
</p>

<p>
  <strong>Image:</strong>
  <%= image_tag @crop.image.thumb.url %>
</p>
