<div class="container">
  <div class="row">

    <div class="card hoverhovercard">
      <div class="label col-xs-4 col-xs-offset-1">
        Yo Yo Yo Check Out All of Our Farmers!!!
      </div>
    </div>
  </div>

  <div class='row'>
    <div class="col-lg-12">
      <div class="panel panel-default">
        <div class="panel-heading">All our FARMZ!</div>

        <table class="table">
          <thead>
            <tr>
              <th>Farm</th>
              <th> Farmers </th>
              <th> Bio </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <% @farms.map do |farm| %>
              <td>
                <a href="/farms/<%= farm.id %>"><%= farm.name %></a>
              </td>
              <td>
                <%= farm.farmer %>
              </td>
              <td>
                <%= farm.about_farm %>
              </td>
              <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>


