// Place all the styles related to the cart controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

tbody .btn {
  padding-right: 12px;
  padding-left: 12px;
}

.quantity_value {
  padding: 0 5px;
  display: inline-block;
}