
.ui-autocomplete {
  list-style-type: none;
  padding: 0px;
}

.ui-helper-hidden-accessible {
  display: none;
}

.col-xs-5 .btn {
  margin-top: 70px;
}

.page-header {
  padding-left: 18px;
}


#crop_img {
  width: 200px;
  height: 200px;
}

.croplist .col-sm-6 img {
  height: 100px;
  width: 100px;
  margin: 15px 23%;
  border-radius: 3px;
}

.croplist .col-sm-6 .available-crops, .upcoming-crops, .distant-crops, .past-crops {
    display: inline-block;
    border-width: 0.5px;
    border-style: solid;
    border-color: lightgrey;
    border-image: initial;
    border-radius: 5px;
    padding: 20px;
    width: 100%;
}

.card.hoverhovercard .avatar {
  top: -12px;
}

.card.hoverhovercard .avatar img {
  top: 25px;
  border-radius: 50%;
  border: 5px solid rgba(255,255,255,0.5);
  position: relative;
}


.card.hoverhovercard .info {
  height: 130px;
  background-color: #575204;
  margin-bottom: 17px;
}

.card.hoverhovercard .info .label {
  font-size: 51px;
  color: whitesmoke;
  margin-top: 20px;
  margin-left: 15gpx;
}

.card.hoverhovercard .info .farmer-names {
  font-size: 20px;
  color: whitesmoke;
  opacity: 0.7;
  margin-left: -336px;
  margin-top: 86px;
}