// Place all the styles related to the Farms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-weight: lighter;
}

#map {
  width: 100%;
  height: 300px;
}

.main-parallax {
  height: 100px;
}

#locate-user {
  padding: 0 10px;

  .material-icons {
    padding: 0;
    margin: 0;
  }
}

#location-progress {
  display: none;
}

.cardheader img {
  height: 300px;
  width: 100%;
  margin-top: -7px;
}

.section img {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: solid 5px;
  border-color: lightgrey;
}

.avatar img {
  height: 170px;
  width: 170px;
  border-radius: 50%;
  border: solid 5px;
  border-color: lightgrey;
}

#names img {
  height: 70px;
  width: 70px;
}

.safety img {
  height: 100px;
  width: 100px;
}

.badge img {
  height: 100px;
  width: 100px;
  padding: 3px;
}

.parallax-container {
  height: 400px;;
}


#csa_availability_checked_true {
  display: none;
}

.green .btn {
  margin-top: 14px;
  margin-right: 35px;
}

.carousel-item img {
  height: 200px;
  width: 200px;
}

.edit-inline {
  cursor: url("/edit-pencil.png"), auto;
}

.edit-inline:hover {
    opacity: .4;
    color: red;
}

.profile.section {
  margin-top: 0px;
  margin-bottom: 0px;
}
