.tractor {
  // background: url("http://www.desktopwallpaperhd.net/wallpapers/19/9/wallpapers-wheat-fields-field-198393.jpg");
  background-color: #575204;
  height: 580px;
  width: 100%;
}

h1 {
  font: white;
}

.tractor .jumbotron{
  margin-top: 120px;
  padding-top: 20px;
  padding-bottom: 80px;
}