.registration {
  background-color: #575204;
}
.reg-background {
  background-image: url("https://img.clipartfest.com/47ee24a03e61e28e64efad045578c17a_black-and-white-farming-tractor-black-and-white-clipart_300-203.jpeg");
  // opacity: 0.25;
}

.registration .jumbotron {
  margin: 50px;
  padding-bottom: 110px;
}