.registration {
  background-image: url("https://img.clipartfest.com/47ee24a03e61e28e64efad045578c17a_black-and-white-farming-tractor-black-and-white-clipart_300-203.jpeg");
  padding-top: 70px;
  height: 735px;
}

.card-content h3, h4 {
  padding-left: 10px;
  padding-top: 23px;
}
