<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">


<ul id="dropdown1" class="dropdown-content">
  <% if current_user %>
      <% if current_user.is_farmer && current_user.farm_id%>
      <li><%= link_to farm_path(current_user.farm_id), class: 'black-text' do %>My Farm<% end %></li>
      <% end %>
      <li><%= link_to user_orders_path(current_user.id), class: 'black-text' do %>Order History <%end%></li>
      <li><a href="/logout" class="black-text">Logout</a></li>

  <li class="divider"></li>
  <% end %>
</ul>


<nav>
  <div class="nav-wrapper grey lighten-4">
    <img src="https://www.tribulus-kotvicnik.sk/files/tribulus.png">
    <a href="/" class="brand-logo black-text">In Season</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">


      <li><a href="/markets" class="black-text">Our Farms</a></li>
      <li><a href="/#info" class="black-text">What is CSA?</a></li>
      <% if current_user %>
      <li><a class="dropdown-button black-text" href="#!" data-activates="dropdown1">Hey, <%= current_user.first_name %><i class="material-icons right">arrow_drop_down</i></a></li>
      <% else %>
      <a class="waves-effect waves-light btn green right" href="#modal1">Register</a>

      <div id="modal1" class="modal black-text">
        <div class="modal-content">
          <h4>Who are you registering as?</h4>
          <div class="row">
            <div class="col s5 offset-s2">
              <a href="/member_registration" class="waves-effect waves-light btn-large green"><i class="material-icons left">spa</i>MEMBER</a>
              </div>
            <div class="col s5">
              <a href="/farmer_registration" class="waves-effect waves-light btn-large green"><i class="material-icons left">spa</i>FARMER</a>
            </div>
          </div>
        </div>
      </div>

      <li><a href="/login" class="black-text">Login</a></li>
      <% end %>
    </ul>
  </div>
</nav>
